<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SampleForm</servlet-name>
        <servlet-class>view.SampleForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameTableViewNormal</servlet-name>
        <servlet-class>view.UsernameTableViewNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameTableViewFancyJSP</servlet-name>
        <jsp-file>/jsp/UsernameTableViewFancy.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>CreatePlayer</servlet-name>
        <servlet-class>view.CreatePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateScore</servlet-name>
        <servlet-class>view.CreateScore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TableAction</servlet-name>
        <servlet-class>view.TableAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SampleForm</servlet-name>
        <url-pattern>/SampleForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameTableViewNormal</servlet-name>
        <url-pattern>/UsernameTableViewNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameTableViewFancyJSP</servlet-name>
        <url-pattern>/UsernameTableViewFancyJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePlayer</servlet-name>
        <url-pattern>/CreatePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateScore</servlet-name>
        <url-pattern>/CreateScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TableAction</servlet-name>
        <url-pattern>/ViewPlayer</url-pattern>
        <url-pattern>/ViewUsername</url-pattern>
        <url-pattern>/ViewScore</url-pattern>
        <url-pattern>/PlayerAction</url-pattern>
        <url-pattern>/UsernameAction</url-pattern>
        <url-pattern>/ScoreAction</url-pattern>
    </servlet-mapping>

</web-app>